* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}
body {
  padding: 0px 140px 0 140px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
  height: 100px;
}
.catagory {
}
.catagory span {
  margin-left: 50px;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 20px;
}
.search {
  position: relative;
  width: 359px;
  height: 46px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 25px;
}
.iconSearch {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.avatar,
.car {
  width: 70px;
  height: 70px;
}
/* -------------------------------------------------------------- */
.tittle {
  padding: 50px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.line {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #010101;
  top: 160px;
  left: 0;
  right: 0;
}
.form {
  padding: 10px 90px;
  padding-bottom: 50px;
  max-width: 1151px;
  min-height: 657px;
  position: relative;
  margin: auto;
  margin-top: 8px;
  border: 2px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.imgRegister {
  width: 343px;
  height: 242px;
}
.inputItem {
  margin-bottom: 20px;
}
.inputItem label {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #353945;
}
.inputItem input {
  display: block;
  padding: 12px;
  width: 100%;
  height: 48px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
  border: none;

  background: #f4f5f6;
}
.inputItem input::placeholder {
  color: #b1b5c4;
  font-size: 18px;
}
button {
  padding: 16px 80px;
  font-size: 20px;
  text-align: center;
  width: 284px;
  height: 56px;
  display: block;
  /* Neutral Color / 4 [day] */
  border: none;
  cursor: pointer;
  background: #010101;
  border-radius: 4px;
  color: #fff;
  margin: 0 auto;
}
.linkURL {
  text-align: center;
  margin-top: 36px;
}
.routerSignIn {
  margin-top: 8px;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #2ba84a;
}
/* //////////////////////////////////////////////////////////////////////////////// */
/* CSS cho phần liên hệ */
.formContact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formContact h1 {
  font-size: 48px;
  display: flex;
  color: #999999;
  margin-bottom: 24px;
}
.formContact span {
  color: #8a8a89;
  font-size: 16px;
  margin-left: 60px;
  margin-bottom: 36px;
  display: block;
}
.formInfor_item label {
  display: block;
  font-size: 16px;
  color: #7e8e99;
  margin-bottom: 12px;
}
.formInfor_item input {
  border: 1px solid #000000;
  border-radius: 6px;
  width: 352px;
  height: 40px;
  margin-bottom: 16px;
}
.formContact button {
  width: 351px;
  height: 54px;
  background: #060606;
  border-radius: 12px;
  color: #fff;
  font-size: 20px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
.formContact .imgContact {
  width: 646px;
  height: 636px;
}
.imgContact img {
  width: 100%;
  object-fit: cover;
}
